
java/\.idea/

java/out/

java/testes/

java/entrada\.txt

java/java\.iml

java/exercicio do URI\.iml

java/src/MONITORIA/

java/src/Baskara\.java

java/src/Exemplo4\.java

java/src/Fibonacci\.java

java/src/asdasddgf\.java

java/src/fibteste\.java

python/\.idea/
